<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.powernode.domain.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="loginname" property="loginname"/>
        <result column="pwd" property="pwd"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, loginname, pwd
    </sql>

    <!--登录请求-->
    <select id="login" resultType="com.powernode.common.Result" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where name = #{name}
        and pwd = #{pwd}
    </select>
</mapper>